* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

header{
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 3.4rem;
    margin-top: 50px;
    margin-bottom: 8px;
}

strong {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.logo {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px auto;
    display: grid;
    grid-template-columns: 325px 300px;
    align-self: center;
    width: 54.6rem;
    margin: 20px auto;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #36c;
}

p {
    color:#54595d;
    font-size: 1.2rem;
    margin: 5px;
}

.box {
    margin: 12px;
    width: 120px;
}

.box1, .box9 {
    margin-left: 75px;
}

.box6 {
    margin-left: 65px;
}

.box3, .box7 {
    margin-left: 30px;
}

.box4, .box8 {
    margin-left: 55px;
}

/* Comienza buscador */

.search {
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-sizing: border-box;
    width: 460px;
    height: 45px;
    margin: 5px auto;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff;
}

.search:hover {
    border: 2px solid #3366cc;
}

.search-input {
    width: 70%;
    height: 35px;
    margin-left: 10px;
    font-size: 1.8rem;
    border: none;
    outline: none;
}

.search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    background-color: #3366cc;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.button_line {
    width: 8%;
    height: 1px;
    border-bottom: 1px solid grey;
}

.button_style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 250px;
    height: 35px;
    border: 1px solid grey;
    margin: 0 15px;
}

.button__arrow {
    background-image: url('https://img.icons8.com/officexs/16/4a90e2/expand-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
}

.button__idioma {
    background-image: url('https://img.icons8.com/office/16/000000/translation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.button__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3366cc;
    margin: 0 10px;
}